<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <form th:action="@{login}" method="post">
      
      <div th:if="${param.error}">
        <div class="alert alert-danger">Usuario o contraseña incorrectas</div>
      </div>

      <div th:if="${param.logout}">
        <div class="alert alert-info">Se ha cerrado sesion</div>
      </div>

      <div th:if="${param.exito}">
        <div class="alert alert-info">Se ha registrado exitosamente</div>
      </div>
      
      
      <div class="mb-3">
          <label for="username" class="form-label">username</label>
          <input type="text" class="form-control" id="username" name="username">
          
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" id="login_submit">Submit</button>
      </form>
      <div class="form-group">
        <span><a th:href="@{/registro}" href="">Registrarse </a></span>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>